@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7fafc;
  --foreground: #171717;
  --primary: #4a32d2;
  --primary-foreground: #3d29ae;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: #535353;
  --muted-foreground: #6b7280;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
