@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-available: var(--available);
  --color-available-foreground: var(--available-foreground);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: linear-gradient(
    to left bottom,
    rgb(202, 224, 253),
    rgb(213, 167, 253)
  );
  --foreground: #171717;
  --primary: #003c8d;
  --primary-foreground: #fff;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: #535353;
  --muted-foreground: #6b7280;
  --danger: #f44336;
  --danger-foreground: #fff;
  --available: #16a34a;
  --available-foreground: #fff;

  --font: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', Inter, Roboto,
    Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
}

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl font-bold;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--primary);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Para Chrome, Edge, Safari */
/* input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;

  background: transparent;
} */

/* Para Firefox */
/* input[type='date'] {
  appearance: none;
  -moz-appearance: textfield;
  background-image: url(/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 0.9rem center;
  background-size: 1.5rem;
} */

/* Para Edge */
/* input[type='date']::-ms-clear {
  display: none;
} */
